{% extends 'main/base.html' %}

{% block content %}

<div class="row justify-cont    ent-center">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-center">
                    {% if user.is_authenticated %}
                    Профиль
                    {% else %}
                    Регистрация
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-block btn-outline-success form-control">
                        {% if user.is_authenticated %}
                        Сохранить
                        {% else %}
                        Зарегистрироваться
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}