{% load static %}
{% load my_tags %}

<!--Header web-site-->
<div class="container">
    <div class="d-flex flex-md-row align-items-center pb-3 mb-4 border-bottom">

        <a href="{% url 'main:home' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <img src="{% static '/main/img/logo.png' %}" height=150>
            <span>
            <div class="text-left">
              <h1 class="display-4">ВелоЦентр</h1>
              <p class="lead">ВелоЦентр - лучшие велосипеды твоего города!</p>
            </div>
            </span>
        </a>

        <nav class="navbar navbar-light">
            <div class="row">
                <div class="mx-auto">
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:catalog' %}">Каталог</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:category' %}">Категории</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'journal:articles' %}">Статьи</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:contacts' %}">Контакты</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'main:about' %}">О нас</a>

                    {% if user.is_authenticated %}
                    <a class="p-2 btn btn-warning mr-1" href="{% url 'users:profile' %}">Профиль</a>
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="p-2 btn btn-danger">Выйти</button>
                    </form>
                    {% else %}
                    <a class="p-2 btn btn-success mr-1" href="{% url 'users:login' %}">Войти</a>
                    <a class="p-2 btn btn-warning" href="{% url 'users:register' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>

        </nav>
    </div>
</div>