{% extends 'main/base.html' %}
{% load my_tags %}

{% block content %}

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название категории</th>
            <th scope="col">Описание категории</th>
        </tr>
        </thead>
        <tbody>
        {% for category in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'catalog:category_detail' category.pk %}">{{ category.name }}</a></td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}
