{% extends 'main/base.html' %}

{% block content %}
{% load my_tags %}

<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a href="{% url 'catalog:product_update' object.pk %}"
               class="btn btn-sm btn-outline-secondary">Редактировать</a>
            <a href="{% url 'catalog:product_delete' object.pk %}"
               class="btn btn-sm btn-outline-danger">Удалить</a>
        </div>


        <div class="row no-gutters">

            <div class="col-6 col-md-4">
                <img src="{{ object.image|media_url }}" class="img-fluid" alt="Responsive image">
            </div>

            <div class="col-12 col-sm-6 col-md-8">
                <div>
                    <p><b>{{object.name}}</b></p>
                    <p>Категория: <i>{{object.category}}</i></p>
                    <p>Цена: <b>{{object.price}} руб.</b></p>

                    {% if active_version %}
                    <p>Активная версия: {{ active_version.number_version }}</p>
                    {% else %}
                    <p>Активная версия: отсутствует</p>
                    {% endif %}
                    <p>Добавил: {{ object.owner|default:'неизвестно' }}</p>
                </div>
                <div class="col">
                    <p>{{object.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}