{% extends '.\main\base.html' %}

{% block content %}
{% load my_tags %}

<div class="container">
  
  <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
      <a href="{% url 'journal:update_article' object.slug %}"
         class="btn btn-sm btn-outline-secondary">Редактировать</a>
      <a href="{% url 'journal:delete_article' object.slug %}"
         class="btn btn-sm btn-outline-secondary">Удалить</a>
    </div>
  
  </div>
  
  <div class="row no-gutters">
    <div class="col-6 col-md-4">
      <img src="{{ object.image.url }}" class="img-fluid" alt="Responsive image">
    </div>
    <p>
    <h1>{{ object.title }}</h1>
    </p>
    
    <div class="col-12 col-sm-6 col-md-8">
      <div class="col">
        <p>{{ object.text }}</p>
      
      </div>
    </div>
  </div>
</div>

{% endblock content %}