{% extends '.\main\base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="row" method="post">
        
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Создание продукта
              </h3>
              <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success"
                       value="{% if object %}Сохранить{% else %}Создать{% endif %}">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Версии продукта
              </h3>
              <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
